body {
    overflow-x: hidden;
}

/** Simple Flexbox centering with text aligned slightly above for easier visuals **/
.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section1::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    background-image: url('src/images/HWH2021-logo-words.png');
    content: "";
}

.container {
    position: relative;
    text-align: left;
}

#title {
    position: relative;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    margin: 0px;
}
#date {
    position: relative;
    font-size: 2.5em;
    font-family: 'Ubuntu', 'Roboto', Arial, sans-serif;
}

ul {
    margin: 0px;
    padding: 16px 0px !important;
    list-style-type: none;
}
li {
    display: inline;
    padding-right: 16px;
}
@media only screen and (min-width: 223px) and (max-width: 434px) {
    li {
        display: block;
    }
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
    li {
        display: block;
    }
}

#form-1-title, #form-2-title {
    font-size: 1.5em;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
#form-1-title:hover, #form-2-title:hover {
    color: #B23429;
    font-weight: bold;
}
#headline {
    position: relative;
    font-size: 2.5em;
    font-family: 'Ubuntu', 'Roboto', Arial, sans-serif;
    padding-bottom: 8px;
}
/** Learn More Button **/ 
#learnMoreButton {
    font-size: 2em;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    padding: 8px 24px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;

    background-color: #002B53;
    border-color: #002B53;
}
#learnMoreButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#learnMoreButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s
}
#learnMoreButton:hover span {
    padding-right: 30px;
}
#learnMoreButton:hover span:after {
    opacity: 1;
    right: 0;
}

/** Handles media attribute when screen size is less than 500px
    All attributes font-size are reduced by 20% **/
@media only screen and (max-width: 500px) {
    #title {
        font-size: 4em;
    }
    #form-1-title, #form-2-title {
        font-size: 1em;
    }
    #date, #headline, #learnMoreButton {
        font-size: 2em;
    }
}
