html, body {
    overflow-x: hidden;
}

/** Navigation **/
.navbar-nav {
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}
#logo-topbar {
    position: relative;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;
}
/**HelloWorldHack animated header - feature influenced by CSSTricks website **/
.typewriter header {
    font-size: 1.15rem;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    overflow: hidden; /* Text hidden until animation starts */
    border-right: .05em solid transparent; /* Cursor */
    white-space: nowrap; /* Retains text content all on 1 line */
    margin: 0 auto; /* Creates scroll effect */
    animation:
        typing 2s steps(40,end), /* Determines length of animation and frames needed to complete animation */
        blinkTextCursor 0.75s step-end 5; /* The cursor keeps blinking even after animation */
}
/* Type effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinkTextCursor {
    from, to { border-color: black }
    50% { border-color: transparent; }
}


/** Schedule **/
#main-container {
    margin-top: 16px;
}
#button-container button {
    margin: 8px 16px;
    font-size: 24px;
    padding: 8px 16px;
    border-color: #B23429;
    background-color: #B23429;
}

#schedule-title {
    font-weight: bold;
    font-size: 54px;
    line-height: 1.35;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    text-align: center;
}
#schedule-subtitle {
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 16px;
}
#button-container {
    margin: 0 auto;
    text-align: center;
}

/*** Comment: On load by default, day 2 and 3 schedule should be hidden ***/
#day-one-schedule h1, #day-two-schedule h1, #day-three-schedule h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.35;
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    text-align: center;
}
#day-one-schedule h4, #day-two-schedule h4, #day-three-schedule h4 {
    font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}
#day-one-schedule p, #day-two-schedule p, #day-three-schedule p {
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
}


#day-one-schedule {
    display: block;
}
#day-two-schedule {
    display: none;
}
#day-three-schedule {
    display: none;
}



/** Footer **/
footer {
    width: 100vw;
    background-color: #f8f9fa;
    padding: 16px 0px;
  }
  #footer-right {
    justify-content: end;
    text-align: right;
    font-size: 1rem;
  }
  #ryan-schuller-link, #justin-howe-link, #hwh-2019-website-link, #hwh-2020-website-link {
    color: #B23429;
    font-family: 'Open Sans', 'Roboto', sans-serif;
  }
  /* #ryan-schuller-link:hover, #justin-howe-link:hover {
    font-weight: bold;
  } */
  footer img {
    justify-content: center;
    margin: 0 auto;
    padding: 0 2px 0;
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  footer img:hover {
    filter: grayscale(0);
  }
  .social-link {
    margin-right: 10px;
  }
  .social-link:hover {
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    footer .row {
      text-align: center;
    }
    #footer-right {
      text-align: center;
      margin-top: 20px;
    }
  }
  