/*** Similar structure from HelloWorldHack 2020 **/

html, body {
  overflow-x: hidden;
}

/** Navigation **/
.navbar-nav {
  font-family: 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}
#logo-topbar {
  position: relative;
  height: 30px;
  margin-top: -5px;
  margin-right: 5px;
}
/**HelloWorldHack animated header - feature influenced by CSSTricks website **/
.typewriter header {
  font-size: 1.25rem;
  font-family: 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
  overflow: hidden; /* Text hidden until animation starts */
  border-right: .05em solid black; /* Cursor */
  white-space: nowrap; /* Retains text content all on 1 line */
  margin: 0 auto; /* Creates scroll effect */
  animation:
    typing 5s steps(40,end), /* Determines length of animation and frames needed to complete animation */
    blinkTextCursor 0.75s step-end infinite; /* The cursor keeps blinking even after animation */
}
/* Type effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}


/** Carousel slideshow background **/
.section1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.section1::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  background-color: #002B53;
  content: "";
}

/** Carousel slideshow **/
#carouselImageSlideShow {
  height: auto;
  width: 50vw;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #carouselImageSlideShow {
    width: 100vw;
    height: 0 auto;
  }
}


/**About HelloWorldHack:**/
.about-hello-world-hack {
  display: flex;
  justify-content: center;
  background-color: #002B53;
  padding: 16px 0;
}

.about-hello-world-hack .row-text {
  width: 70vw;
  height: auto;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .about-hello-world-hack .row-text {
    width: 100vw;
    height: auto;
  }
}

#about-hwh-sectionOne, #about-hwh-sectionTwo {
  padding-bottom: 8px;
  justify-content: center;
  margin: 0 auto;
}
  
#about-hwh-text, #about-hwh-date {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 1.35;
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}
.about-hello-world-hack h3, #join-discord-text {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.about-hello-world-hack, .mentors-hello-world-hack {
  padding: 16px 0;
}
.about-hello-world-hack .row {
  padding: 8px 0px;
}
a.button1, a.button2 {
  display: block;
  border: 0.16em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 0.4em 1.2em;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.6;
  width: 33vw;
}
a.button1:hover, a.button2:hover {
  color:#000000;
  background-color:#FFFFFF;
}

#discord-a {
  margin: 0 auto;
  text-align: center;
  width: 33vw;
  background-color: #7289DA;
  height: auto;
  border-radius: 8px;
}
#discord-logo-img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  a.button1, a.button2 {
    width: 70vw;
  }
  #discord-a {
    width: 70vw;
  }
}

/** Section for Hello World Hack mentors **/
.mentors-hello-world-hack {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: #B23429;
}
#mentors-hello-world-hack-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

/** Implementing repsonsive text which captures full-screen when screen is below/at 992px
     this is ideal for large common breakpoints  **/

#mentors-hello-world-hack-subtext {
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  margin-bottom: 16px;
}

/** FAQ **/
.faq-hello-world-hack {
  background-color: #FFA125;
  padding: 16px 0;
}
.faq-hello-world-hack .card-title {
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
  font-weight: 700;
}
.faq-hello-world-hack .card-text {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: light;
}
#faq-hello-world-hack {
  color: white;
  font-size: 64px;
  text-align: center;
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
  font-weight: bold;
}


/** Organizers for Hello World Hack **/
#organizers-sectionOne {
  padding: 16px 0px;
  justify-content: center;
}

#organizers-title {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}

#organizers-description-text {
  color: black;
  margin: 8px 16px;
  font-size: 16px;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.6;
}

/** Sponsors **/
#sponsors-title {
  font-size: 64px;
  text-align: center;
  font-family: 'Poppins', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
  font-weight: bold;
}
.sponsors-hello-world-hack {
  display: flex;
  justify-content: center;
}
.sponsors-hello-world-hack h3 {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  text-align: center;

}
.sponsors-hello-world-hack img {
  display: block;
  margin: 16px auto;
  width: 80%;
}

/** Footer **/
footer {
  width: 100vw;
  background-color: #f8f9fa;
  padding: 16px 0px;
}
#footer-right {
  justify-content: end;
  text-align: right;
  font-size: 1rem;
}
#ryan-schuller-link, #justin-howe-link, #hwh-2019-website-link, #hwh-2020-website-link {
  color: black;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
#ryan-schuller-link:hover, #justin-howe-link:hover {
  font-weight: bold;
}
footer img {
  justify-content: center;
  margin: 0 auto;
  padding: 0 2px 0;
  filter: grayscale(1);
  transition-property: filter;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
footer img:hover {
  filter: grayscale(0);
}